# Konfigurasi Bot WhatsApp
OWNER_NUMBER=628123456789
OWNER_NAME=Owner
BOT_NAME=Store Bot
STORE_NAME=Store Toko
PREFIX=.,!,/

# Digiflazz H2H API
DIGIFLAZZ_USERNAME=YOUR_DIGIFLAZZ_USERNAME
DIGIFLAZZ_API_KEY=YOUR_DIGIFLAZZ_API_KEY

# Firebase Realtime Database (Opsional)
FIREBASE_URL=

# Web Server Port
PORT=3000
